:root {
    font-family: 'Consolas', 'Courier New', monospace;
}

.el-input__inner {
    font-family: 'Consolas', 'Courier New', monospace;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

#app {
    height: 100%;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    overflow: hidden;
}